*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#020b22;
color:white;
overflow-x:hidden;
}


/* Header */

header{
height:90px;
padding:20px 8%;
display:flex;
align-items:center;
justify-content:space-between;
}

.logo h2{
font-size:28px;
font-weight:700;
}

.logo span{
color:#009cff;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-size:17px;
}


.menu{
font-size:30px;
display:none;
}


/* Hero */

.hero{
padding:70px 8%;
text-align:center;
}

.hero-text{
max-width:800px;
margin:auto;
}


.hero-text h1{
font-size:55px;
line-height:1.2;
}


.hero-text p{
margin:30px auto;
font-size:20px;
color:#cbd5e1;
max-width:650px;
}


.buttons{
margin-top:30px;
}


.buttons a{
display:inline-block;
padding:16px 35px;
border-radius:30px;
margin:10px;
text-decoration:none;
font-weight:bold;
}


.btn{
background:#168cff;
color:white;
}


.second{
background:transparent;
border:2px solid white;
color:white;
}



/* Image */

.hero-image img{
width:90%;
max-width:600px;
margin-top:50px;
border-radius:20px;
}



/* Services */

.title{
text-align:center;
font-size:45px;
margin:70px 0 40px;
}


.cards{
padding:0 8%;
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
}


.card{
background:#081936;
padding:35px;
border-radius:25px;
}


.card i{
font-size:45px;
color:#00bfff;
}


.card h3{
font-size:25px;
margin:20px 0;
}


.card p{
color:#cbd5e1;
font-size:18px;
}


/* About */

.about-box{
margin:0 8%;
background:#081936;
padding:45px;
border-radius:25px;
text-align:center;
font-size:20px;
color:#cbd5e1;
}



/* Work */

.steps{
padding:0 8%;
}


.steps div{
background:#081936;
margin:20px 0;
padding:30px;
border-radius:25px;
text-align:center;
}


.steps h3{
color:#00bfff;
font-size:45px;
}



/* Contact */

.contact-box{
margin:0 8%;
padding:40px;
background:#081936;
border-radius:25px;
}


.contact-box p{
font-size:20px;
margin:25px;
}


.contact-box i{
color:#00bfff;
margin-right:15px;
}



/* Footer */

footer{
margin-top:70px;
padding:50px 20px;
text-align:center;
background:#010817;
}


.social i{
font-size:30px;
margin:15px;
color:#00bfff;
}


/* WhatsApp */

.whatsapp{
position:fixed;
right:25px;
bottom:30px;
width:65px;
height:65px;
border-radius:50%;
background:#25d366;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-size:35px;
}


/* Mobile */

@media(max-width:768px){

nav{
display:none;
}

.menu{
display:block;
}

.hero-text h1{
font-size:40px;
}

.cards{
grid-template-columns:1fr;
}

.title{
font-size:38px;
}

}
